* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --bc-main: #121214;
  --bc-controller: rgba(66, 211, 255, 0.13);
  --fc-timer: #ffffff;
  --ff-timer: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

.alert-minute-second {
  z-index: 1;
  position: absolute;
  color: white;
  font-family: var(--ff-timer);
  text-align: center;
  width: 100vw;
  height: 3.6rem;
  background-color: #f03e3e;
  display: grid;
  place-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}

.hide-alert{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

main {
  background-color: var(--bc-main);
  height: 100vh;
  display: grid;
  place-content: center;
}

.cont-timer h1 {
  font-family: var(--ff-timer);
  font-weight: 700;
  font-size: 8.8rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--fc-timer);
}

.controller {
  margin-top: 1.6rem;
  background-color: var(--bc-controller);
  width: 22.8rem;
  height: 10.8rem;
  border-radius: 9999rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.controller img {
  cursor: pointer;
  transition: transform 0.5s;
}

.controller img:hover {
  transform: scale(1.1);
}

button {
  background: none;
  border: none;
}

.sound {
  position: absolute;
  bottom: 3.2rem;
  right: 4rem;
}

.sound img {
  cursor: pointer;
  transition: transform 0.7s;
}

.sound img:hover {
  transform: scale(1.1);
}

section {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  background-color: var(--bc-main);
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 23rem;
  background-color: var(--bc-controller);
  border-radius: 5rem;
}

.container-timer {
  display: flex;
  flex-direction: row;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
}

form label {
  font-family: var(--ff-timer);
  color: var(--fc-timer);
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
}
form input {
  width: 6rem;
  height: 5rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.9rem;
  font-family: var(--ff-timer);
  font-weight: 700;
  color: rgb(56, 58, 58);
  background-color: rgb(234, 234, 234);
}

form input:focus {
  outline: 3px solid #2195f36d;
}

form button {
  margin-top: 2.5rem;
  cursor: pointer;
}

form button img {
  width: 5.2rem;
  height: 5.2rem;
  transition: transform 0.7s;
}

form button img:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}
